img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin-bottom: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none; /* Optionally remove box-shadow as well */
}
